http://www.bigdataschool.ru

<img src="logo.png" align="right">

# Задачки на порешать

<hr style="border:2px solid #294A70"> </hr>

<h3 style="color: #294A70">Практические материалы</h3>

<div style="color:red; text-align: right"> Версия 1.02 от 10 января 2025 </div>

In [1]:
from trsql_h import _psql, _sql

In [2]:
_psql("show catalogs")

## PostgreSQL

In [3]:
_psql("show tables in postgres.public")

In [4]:
_sql("select * from postgres.public.countries limit 3")

,country,region,population,area,popdensity,coastline,netmigration,infantmortality,gdp,literacy,phones,arable,crops,other,climate,birthrate,deathrate,agriculture,industry,service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"

## Задача 1: самые большие и самые маленькие страны

Выведите следующую таблицу

* регион
* страна с самым маленьким населением в регионе
* население этой страны
* страна с самым большим населением в регионе
* население этой страны

Пусть таблица будет упорядочена по названию региона

## Задача 2: средний чек

Используйте встроенный источник `tpcds.sf1`

In [5]:
_psql("show tables in tpcds.sf1")

In [8]:
_psql("describe tpcds.sf1.store_sales")

Выведите информацию о чеках выше среднего - таблицу со следующими колонками

* номер чека ( ss_ticket_number )
* дату чека (см. таблицу date_dim)
* сумму чека (сумма поля ss_ext_sales_price для всех строк чека)
* сумму среднего чека за день

В таблицу необходимо включать чеки за ноябрь 1998 года, таблица должна быть отсортирована по возрастанию даты чека, для одинаковых дат - по возрастанию номера чека.

<hr style="border:2px solid #294A70"> </hr>

<div style="text-align: center"> © ООО «Учебный центр «Коммерсант», 2024 </div>

<div style="text-align: center"> info@bigdataschool.ru, +7(495) 41-41-121 </div>